/* GLOBAL */
body.home {
	background: url("../media/danbo-1206478_1920.jpg") no-repeat top center;
}

/* HOME */

/* POSTS */
.posts-form-panel {
	z-index: 999;
}

.posts-panel {
	margin-top: 35vh;
}

@media only screen and (min-width: 768px) {
	.posts-panel {
		margin-top: 0;
	}
}

/**/

/**/

/**/